@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

h1 {
  color: #222f3e;
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 10px;
}

.formbox {
    width: 40%;
}

.news-list {
    width: 500px;
}

.news-container {
    margin: 10px 0 20px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 15px 15px 5px 15px;
}

.text-area {
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 15px;
    font-size: 20px;
}

.btn {
    border-radius: 200px;
    background-color: white;
    color: #222f3e;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 10px;
    border: none;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

h3 {
    margin: 0;
}

@media screen and (max-width: 833px) {
    .formbox {
        width: 90%;
    }
}
